
*.xnb
*.png
*.cache
*.xml
*.pdb
YsoWildWest/YsoWildWest/YsoWildWest/obj/x86/Debug/YsoWildWest.exe
*.txt
*.exe
YsoWildWest/YsoWildWest/YsoWildWest.zip
YsoWildWest/YsoWildWest.v11.suo
YsoWildWest/YsoWildWest.sln
YsoWildWest/.vs/YsoWildWest/v14/.suo
YsoWildWest/YsoWildWest/YsoWildWestContent/YsoWildWestContent.contentproj
YsoWildWest/YsoWildWest/YsoWildWestContent/FondMenu.jpg
YsoWildWest/YsoWildWest/YsoWildWest/YsoWildWest.vbproj.user
YsoWildWest/YsoWildWest/YsoWildWest/YsoWildWest.vbproj.Debug.cachefile
YsoWildWest/YsoWildWest/YsoWildWest/YsoWildWest.vbproj
YsoWildWest/YsoWildWest/YsoWildWest/Program.vb
YsoWildWest/YsoWildWest/YsoWildWest/My Project/AssemblyInfo.vb
*.vb
YsoWildWest/YsoWildWest/YsoWildWest/Game.ico
